:root {
  --bg-color: #F6F5F2;
  --blue-color: #4e7db7;
  --orange-color: #DF6008;
  --indigo-color: #7C87B6;
  --grey-dark-color: #4A4A4A;
  --grey-medium-color: #C0C0C0;
  --grey-light-color: #F0F0F0;
  --teal-color: #517E7B;
  --yellow-color: #DF8F07;
  --bg-dark-color: #ecebe7;
  --menu-color: #151515;
}

html {
	background-color: var(--bg-color);
	color: var(--grey-dark-color);
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
}

h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

h3 {}

h4 {
	color: var(--grey-light-color);
	font-weight: 400;
	text-transform: capitalize;
}

label {
	/*color: var(--grey-medium-color);*/
  color: #808080;
	font-size: 12px;
	letter-spacing: 1px;
}

a:link {
	color: inherit;
  cursor: default;
	text-decoration: none;
}

a:visited {
	color: inherit;
}

ul {
  list-style: none;
}

li {
  margin-top: 24px;
}

.icon {
	height: 48px;
	width: 48px;
	-webkit-transition: 0.3s fill;
	transition: 0.3s fill;
	position: relative;
}

.icon .tooltip {
	opacity: 0;
	visibility: hidden;
	transition: 0.3s opacity 0.2s;
}

.icon:hover .tooltip {
	visibility: visible;
	opacity: 1;
	top: 110%;
	display: inline-block;
	position: absolute;
}

.icon.xsmall {
	height: 24px;
	width: 24px;
}

.icon.small {
	height: 48px;
	width: 48px;
}

.icon.medium {
	height: 64px;
	width: 64px;
}

.icon.large {
	height: 96px;
	width: 96px;
}

.icon.xlarge {
  height: 128px;
  width: 128px;
}

.icon.xxlarge {
  height: 192px;
  width: 192px;
}

.svg-icon-lib {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

body[category="sight"] .arc,
body[category="sight"] #global-back:after {
  background-color: var(--blue-color);
}

body[category="action"] .arc,
body[category="action"] #global-back:after {
  background-color: var(--teal-color);
}

body[category="body"] .arc,
body[category="body"] #global-back:after {
  background-color: var(--indigo-color);
}

body[category="mind"] .arc,
body[category="mind"] #global-back:after {
  background-color: var(--yellow-color);
}

body[category="imagination"] .arc,
body[category="imagination"] #global-back:after {
  background-color: var(--orange-color);
}

.arc {
  position: absolute;
  background-position: 100%;
  background-color: var(--bg-dark-color);
  -webkit-mask-image: url(../images/arc.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position-x: 50%;
  -webkit-mask-position-y: 45%;
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: var(--bg-dark-color);
  transition: 0.2s background ease;
}

.arc.top {
  top: 0;
}

.arc.bottom {
  transform: rotate(180deg);
  margin: auto auto 0;
  bottom: 0;
}

#wrapper {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  left: 0;
  right: 0;
  transition: 1s background ease;
}

button {
	outline: none;
  padding: 12px;
  font-size: 14px;
  border-radius: 24px;
  background-color: var(--bg-dark-color);
  border: none;
  margin: 0 8px;
  transition: 0.2s background-color ease, 0.2s transform ease;
}

button:hover {
	opacity: 0.8;
  transform: scale(1.1)
}

#content {
  max-width: 400px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 110px 0;
  max-height: 500px;
  transition: 0.5s opacity 1s ease;
}

#app {
  height: 100%;
  min-height: 250px;
}

#content.hidden {  
  opacity: 0;
}

.hide {
	display: none;
}

#global-back {
  position: fixed;
  bottom: 36px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  transform: scale(1.1);
  opacity: 0;
  animation: 0.2s BACK-BUTTON-ANIM 0.2s ease forwards;
  transform: translateY(8px);
  width: 100px;
  margin: auto;
}

#global-back:after {
  content: '';
  z-index: -2;
  width: 80px;
  margin: auto;
  background: var(--bg-dark-color);
  height: 80px;
  border-radius: 90% 0 200% 0;
  transform: rotateZ(45deg);
  display: block;
  position: absolute;
  top: -50%;
  right: 0;
  left: 0;
  transition: 0.2s border-radius;
}

#global-back.close:after {
  border-radius: 200% 0 200% 0;
}

body[category=""] #global-back a {
  padding: 24px;
}

body[category=""] #global-back svg,
body[category="random"] #global-back svg {
  fill: var(--grey-dark-color);
}

#global-back:hover:after {
  border-radius: 70% 0 200% 0;
} 

#global-back:hover svg {
  transform: translateY(-2px);
}

#global-back svg {
  fill: var(--grey-light-color);
  position: relative;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  transform: translateY(0px);
  transition: 0.2s transform;
}

#mode {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 12px;
  display: block;
  text-transform: capitalize;
}

body[data-mode="0"] #mode .solo,
body:not([data-mode]) #mode .solo,
body[data-mode="1"] #mode .partner {
  opacity: 0.8;
}

#mode .partner,
#mode .solo {
  margin-bottom: 12px;
  opacity: 0.4;
  cursor: default;
  transition: 0.2s transform;
}

#mode .partner:hover,
#mode .solo:hover {
  transform: scale(1.05);
}

@keyframes BACK-BUTTON-ANIM {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    opacity: 4;
    transform: translateY(0px);
  }
}

