#menu {
	z-index: 10;
	height: 100%;
	transition: 0.3s transform 0.5s ease-out;
	width: 100%;
	transform: translateX(-100%);
	background: var(--menu-color);
	text-align: center;
	display: flex;
	flex-direction: column;
  justify-content: space-evenly;
  color: white;
  position: fixed;
}

#menu.active {
	transform: translateX(0px);
}

#menu .divider {
  border-bottom: 1px solid #80808059;
  width: 100%;
}

#menu .mode ul {
	padding: 0;
}

#menu .option {
	display: inline-block;
	font-size: 16px;
  margin-right: 24px;
  font-weight: 400;
  opacity: 0.5;
  transition: 0.2s color;
}

#menu .option:after {
  content: '•';
  display: block;
}

#menu .option.duo:before {
	content: '•';
  display: block;
}

#menu .list-item {
	font-size: 24px;
  white-space: nowrap;
  cursor: default;
}

#menu .list-item a {
	display: inline-block;
	transition: 0.8s letter-spacing;
}

#menu .list-item a:after {
  width: 0%;
  height: 3px;
  top: 2px;
  content: '';
  background: white;
  position: relative;
  display: block;
  transition: 0.2s width;
}
#menu .list-item:hover {
}

#menu .list-item:hover,
#menu .list-item.active {
	letter-spacing: 4px;
 /*width: 100%;*/
}

body:not([data-mode="1"]) #menu .solo {
	opacity: 1;
}

body[data-mode="1"] #menu .duo {
	opacity: 1;
}

#menu .burger {
	border: unset;
  position: fixed;
  transform: translateX(72px);
  top: 0;
  right: 0;
  transition: 0.2s transform 0.5s;
  padding: 24px;
}

#menu.active .burger {
	transform: translateX(0);
}

#menu .burger::hover {
	background-color: unset;
	transform: unset;
	opacity: unset;
}

#menu .burger .bar {
	height: 4px;
	width: 28px;
	margin-bottom: 5px;
	border-radius: 4px;
  box-shadow: 2px 2px 20px 0 #00000033;
	transition: 0.3s transform, 0.4s background 0.5s;
	transform-origin: center center;
	background-color: var(--grey-dark-color);
}
#menu.active .burger .bar {
	background-color: var(--bg-dark-color);
}


#menu.ready.active .top {
	animation: 0.5s TOP-BURGER-ANIM forwards;
}
#menu.ready .top {
	animation: 0.5s TOP-BURGER-REV-ANIM forwards;
}

#menu.ready.active .mid {
	animation: 0.2s MID-BURGER-ANIM ease-in forwards;
}
#menu.ready .mid {
	animation: 0.2s MID-BURGER-REV-ANIM ease-in forwards;
}

#menu.ready.active .bottom {
	animation: 0.5s BOTTOM-BURGER-ANIM forwards;
}
#menu.ready .bottom {
	animation: 0.5s BOTTOM-BURGER-REV-ANIM forwards;
}

@keyframes TOP-BURGER-ANIM {
	0% {
		transform: translateY(0%);
	}
	30% {
		transform: translateY(9px);
	}
	100% {
		transform: translateY(9px) rotate(45deg);
	}
}

@keyframes TOP-BURGER-REV-ANIM {
	0% {
		transform: translateY(9px) rotate(45deg);
	}
	30% {
		transform: translateY(9px);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes BOTTOM-BURGER-ANIM {
	0% {
		transform: translateY(0%);
	}
	30% {
		transform: translateY(-9px);
	}
	100% {
		transform: translateY(-9px) rotate(-45deg);
	}
}

@keyframes BOTTOM-BURGER-REV-ANIM {
	0% {
		transform: translateY(-9px) rotate(-45deg);
	}
	30% {
		transform: translateY(-9px);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes MID-BURGER-ANIM {
	0% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
}

@keyframes MID-BURGER-REV-ANIM {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}