body:not([data-mode="1"]) #onboarding button.solo {
	border: 2px solid var(--orange-color);
}

body[data-mode="1"] #onboarding button.duo {
	border: 2px solid var(--orange-color);
}

#onboarding {
	height: 100%;
}

#onboarding p {
	margin: 16px 0;
	font-size: 36px;
	font-weight: 400;
	padding: 0 12px;
	height: 100%;
	font-family: 'Nunito', 'Sans serif';
}

#onboarding .icon {
	height: 30%;
	width: 60%;
  margin-bottom: -16px;
  fill: var(--grey-dark-color);
}

#onboarding button {
	font-size: 14px
}