body:not([data-mode="1"]) #onboarding button.solo {
	border: 2px solid var(--orange-color);
}

body[data-mode="1"] #onboarding button.duo {
	border: 2px solid var(--orange-color);
}

#onboarding button.active {
	border: 2px solid var(--orange-color);
}

#onboarding button{
	border: 2px solid var(--bg-color);
}

#onboarding {
	height: 100%;
}

#onboarding p {
	margin: 16px 0;
	font-size: 24px;
	font-weight: 400;
	padding: 0 12px;
	font-family: 'Nunito', 'Sans serif';
}

#onboarding .instruct {
  font-style: italic;
  margin: 36px 12px 56px;
}

#onboarding .icon {
	width: 50%;
  margin-bottom: -16px;
  fill: var(--grey-dark-color);
}

#onboarding button {
	font-size: 14px;
}