#tracklist {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -24px 0;
  height: calc(100% - 24px);
  animation: 0.5s TRACKLIST-ANIM ease forwards;
}

@keyframes TRACKLIST-ANIM {
  0% {
    transform: translateX(12px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#tracklist.hide {
  display: none;
}

#tracklist .category {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2;
  transition: 0.7s transform ease-out;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 12px 0;
  font-family: 'Nunito', 'Helvetica', 'Sans Serif';
}

#tracklist .header {
  transition: 0.7s transform ease-out;
  margin: 24px 0;
}

#tracklist.hide .header {
  transition: none;
  transform: translateY(4px) scale(0.95);
}

.scroller {
  flex-grow: 1;
  overflow-y: auto;
}

.track {
	display: flex;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s background-color;
}

.track:hover, .track.active {
	background-color: var(--bg-dark-color);
  font-weight: 600;
}

.track .text {
  flex-grow: 1;
  text-align: left;
  padding: 0 12px;
}

.track .description {
  font-weight: 300;
}

.track.disable {
  color: var(--grey-medium-color);
  cursor: default;
  font-weight: 500;
}

.track.disable:hover {
  background: unset;
}

.track .text .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 8px;
}

#tracklist .category-icon {
  height: 96px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}

#tracklist .category-icon .icon {
  display: none;
  margin: 0 auto;
  fill: var(--grey-dark-color);
  opacity: 0.9;
}

/* Category Icon. */
body[category="sight"] #tracklist .category-icon .icon.sight  {
  display: block;
}

body[category="body"] #tracklist .category-icon .icon.body {
  display: block;
}

body[category="imagination"] #tracklist .category-icon .icon.imagination {
  display: block;
}

body[category="mind"] #tracklist .category-icon .icon.mind {
  display: block;
}

body[category="performance"] #tracklist .category-icon .icon.performance {
  display: block;
}