extends layout.pug

block content
	#about
		h3 About Us
		p The Tantric Eye: 101 amazing audio-guided practices to discover art, yourself and others in art museums.
		h3 Connect
		p.email connect@tantriceye.com
		a(href='https://www.surveymonkey.de/r/WTGV928' target="_blank").survey Leave Feedback

		p.rights 
			| © 2018-2019, Dr. Michael Garbutt & Dr. Nico Roenpagel, 
			br
			| All Rights Reserved



