extends layout.pug

block content
	#about
		h3 About
		p The Tantric Eye: 101 amazing audio-guided practices to discover art, yourself and others in art museums.

		h3.email Reach Out
		p connect@trantriceye.com



