extends layout.pug

block content
	#about
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi est est, vehicula a est at, condimentum luctus diam. Nulla et tortor eu elit iaculis aliquet. Mauris eget blandit erat. Nullam id dictum turpis, a mollis nunc. Sed non felis turpis metus.



