extends layout.pug

block content
	#landing(onclick='onboarding.load()')
		.center
			+icon('tantric-eye').large
			.shadow
			.sub-section
				.title The Tantric Eye
				.instruct Please put on your headphones
			button(onclick='onboarding.load()') Continue
	include views/onboarding.pug
