extends layout.pug

block content
	#app
		#media(data-controller="media").hide
			.audio-controls
				button(onclick="media.handlePlayClick()")
					+icon("media-play-filled").play.xsmall
					+icon("media-pause").pause.xsmall
					+icon("media-replay").replay.xsmall
			.title
			.progress
				.bar
				.time
					.currentTime
					.duration
		.screen-controls
			a(href="/playlist" onclick="app.goToCategory()").back
				+icon('chevron-left').xsmall
			a(href="#" disabled).forward
				+icon('chevron-right').xsmall