extends layout.pug

block content
	#app
		#media(data-controller="media").hide
			.title
			.description
			.progress
				.audio-controls
					button(onclick="media.handlePlayClick()")
						+icon("media-play-filled").play.xsmall
						+icon("media-pause").pause.xsmall
						+icon("media-replay").replay.xsmall
				.wave
			.time
				.currentTime
				.duration