extends layout.pug

block content
	#landing(onclick='onboarding.load()')
		.center
			+icon('tantric-eye').large
			.shadow
		.title The Tantric Eye
		.instruct Please put on your headphones
		.buttons
			button(onclick='onboarding.handleNextClick()') Continue
	include views/onboarding.pug
