extends layout.pug

block content
	#app
		include views/tracklist.pug
		.screen-controls
			a(href="#" onclick="app.back()").back
				+icon('chevron-left').xsmall
			a(disabled).forward
				+icon('chevron-right').xsmall
