#audiobar(data-controller="audiobar")
	.audio-controls
		button(onclick="audiobar.handlePlayClick()")
			+icon("media-play-filled").play.xsmall
			+icon("media-pause").pause.xsmall
			+icon("media-replay").replay.xsmall
	audio(id="audio")
		source(src="" type="audio/mp3")
	.title 
	.progress
		.bar
		.time
			.currentTime
			.duration