#menu(data-controller="menu")
	.burger(onclick="menu.toggleMenu()")
		.bar.top
		.bar.mid
		.bar.bottom
	.container
		.list-item.home
			a(href="/").active Home
		.list-item.about
			a(href="/about" onclick='app.goToAbout()') About
		.mode
			ul
				li.option.solo(onclick="menu.handleSoloClick()") 
					a(href="/") Individual
				li.option.duo(onclick="menu.handleDuoClick()") 
					a(href="/") Partner