mixin category(name)
	a.category(href=`#${name}` onclick=`nav.handleClick("${name}", this)` data-category=name)
		+icon(name).medium
		label= name

#nav
	.categories
		+category("mind")
		+category("imagination")
		+category("performance")
		+category("body")
		+category("sight")
		+category("random")