mixin category(name, path)
	a.category(href=`${path}` onclick=`nav.handleClick("${name}", this)` data-category=name)
		+icon(name).medium
		label= name

#nav(data-controller="nav")
	.categories
		+category('mind', '/playlist?category=mind')
		+category('imagination', '/playlist?category=imagination')
		+category('performance', '/playlist?category=performance')
		+category('body', '/playlist?category=body')
		+category('sight', '/playlist?category=sight')
		+category('random', 'javascript:;')