mixin category(name)
	a.category(href=`#${name}` onclick=`nav.handleClick("${name}", this)` data-category=name)
		.container
			+icon(name).medium
			label= name

#nav.hide
	+category("random")
	+category("body")
	+category("mind")
	+category("performance")
	+category("imagination")
	+category("sight")