include carousel.pug

		//- +carousel-item("", "Welcome to \n The Mindful Eye")
		//- 	.instruct Please put on your headphones
		//- 	.buttons
		//- 		button(onclick='onboarding.handleNextClick()') Continue
#onboarding(data-controller="onboarding").hide
	+carousel(3)
		+carousel-item("", "Welcome to \n The Mindful Eye")
			.instruct
			audio(id="intro-audio")
				source(src="../audio/Welcome.mp3" type="audio/mp3")
			.buttons
				button(onclick='onboarding.handleToggleIntro()').intro Play Introduction
					+icon("media-play-filled").xsmall.icon.play
					+icon("media-pause").xsmall.icon.pause
					.bar
						.intro-progress
				button(onclick='onboarding.handleNextClick()') Skip
		+carousel-item("", "How will you be practising?")
			.buttons
				button(onclick='onboarding.handleSoloClick()').solo By myself
				button(onclick='onboarding.handleDuoClick()').duo With a partner
		+carousel-item("tantric-eye-duo", "Let's take a minute \n to arrive.")
			audio(id="arrival-audio-solo")
				source(src="../audio/solo/ArrivingSolo.mp3" type="audio/mp3")
			audio(id="arrival-audio-partner")
				source(src="../audio/duo/PartnerArriving.mp3" type="audio/mp3")
			.buttons
				button(onclick='onboarding.handleToggleArrival()').arrival Play Arriving Practice
					+icon("media-play-filled").xsmall.icon.play
					+icon("media-pause").xsmall.icon.pause
					.bar
						.arrival-progress
				button(onclick='onboarding.handleFinishClick()') Skip