include carousel.pug

+carousel(3)
	+carousel-item("", "Welcome to The Tantric Eye")
		.buttons
			button(onclick='onboarding.handleNextClick()') Next
	+carousel-item("duo", "How will you be practising?")
		.buttons
			button(onclick='onboarding.handleSoloClick()').solo I'm by myself
			button(onclick='onboarding.handleDuoClick()').duo I'm with a partner
	+carousel-item("trio", "Let's take a minute to arrive.")
		.buttons
			button(onclick='onboarding.handleFinishClick()') Finish