mixin tracklist(category, tracks)
	ul
		each track in tracks
			li(data-url=track.url)
				span= track.title
				span= track.description

#tracklist(data-controller="tracklist")
	.category-icon
		+icon('sight').large.sight
		+icon('performance').large.performance
		+icon('random').large.random
		+icon('mind').large.mind
		+icon('body').large.body
		+icon('imagination').large.imagination
	.category
	a(href="/" onclick="app.goToHome()").mid-nav
		+icon('chevron-left').xsmall.back
	.tracks

template(id="template-tracklist-item")
	a(onclick="tracklist.handleClick(this)" data-id="").track
		.id 01
		.text
			.title hello
			.description
		.length

