mixin tracklist(category, tracks)
	ul
		each track in tracks
			li(data-url=track.url)
				span= track.title
				span= track.description

#tracklist.hide
	.header(onclick='app.goToHome()')
		+icon('chevron-left')(onclick="app.goToHome()").xsmall.back
		.category
		.category-icon
			+icon('sight').sight
			+icon('performance').performance
			+icon('random').random
			+icon('mind').mind
			+icon('body').body
			+icon('imagination').imagination
	.scroller
		.tracks

template(id="template-tracklist-item")
	.track(onclick="tracklist.handleClick(this)" data-id="")
		.id 01
		.text
			.title hello
			.description
		.length 3

