mixin tracklist(category, tracks)
	ul
		each track in tracks
			li(data-url=track.url)
				span= track.title
				span= track.description

#tracklist.hide
	.header
		.category-icon
			+icon('sight').large.sight
			+icon('performance').large.performance
			+icon('random').large.random
			+icon('mind').large.mind
			+icon('body').large.body
			+icon('imagination').large.imagination
		+icon('chevron-left')(onclick="app.goToHome()").xsmall.back
		.category
	.scroller
		.tracks

template(id="template-tracklist-item")
	.track(onclick="tracklist.handleClick(this)" data-id="")
		.id 01
		.text
			.title hello
			.description
		.length

